div(id="decompte")
	.row
		h1.h1green LA NUMERICUP,
			span.h1gray THE FINAL_
	.row
		div.decompteChiffres.col-md-4
		div.decompteChiffres.col-md-4
			.row
				.div.col-md-3
					div.decompteChiffresCase
						p 
							.line.nombre
								span.decompteJours
							.line.libelle JOURS
				.div.col-md-3
					div.decompteChiffresCase
						p 
							.line.nombre
								span.decompteHeures
							.line.libelle HEURES
				.div.col-md-3
					div.decompteChiffresCase
						p 
							.line.nombre
								span.decompteMinutes
							.line.libelle MINUTES
				.div.col-md-3
					div.decompteChiffresCase
						p
							.line.nombre
								span.decompteSecondes
							.line.libelle SECONDES
		div.decompteChiffres.col-md-4
