div(id="decompte")
	.row
		h1.h1green LA NUMERICUP,
			span.h1gray THE FINAL_
	.row
		div.decompteChiffres.col-md-4
		div.decompteChiffres.col-md-4
			.row
				.div.col-md-3
					.vertical.flip-container(id="decompteJoursFlip")
						.flipper
							.front
								div.decompteChiffresCase
									p
										.line.nombre
											span.decompteJours0
										.line.libelle JOURS
							.back
								div.decompteChiffresCase
									p
										.line.nombre
											span.decompteJours1
										.line.libelle JOURS
							
				.div.col-md-3
					.vertical.flip-container(id="decompteHeuresFlip")
						.flipper
							.front
								div.decompteChiffresCase
									p
										.line.nombre
											span.decompteHeures0
										.line.libelle HEURES
							.back
								div.decompteChiffresCase
									p
										.line.nombre
											span.decompteHeures1
										.line.libelle HEURES
							
				.div.col-md-3
					.vertical.flip-container(id="decompteMinutesFlip")
						.flipper
							.front
								div.decompteChiffresCase
									p
										.line.nombre
											span.decompteMinutes0
										.line.libelle MINUTES
							.back
								div.decompteChiffresCase
									p
										.line.nombre
											span.decompteMinutes1
										.line.libelle MINUTES
							
				.div.col-md-3
					.vertical.flip-container(id="decompteSecondesFlip")
						.flipper
							.front
								div.decompteChiffresCase
									p
										.line.nombre
											span.decompteSecondes0
										.line.libelle SECONDES
							.back
								div.decompteChiffresCase
									p
										.line.nombre
											span.decompteSecondes1
										.line.libelle SECONDES
		div.decompteChiffres.col-md-4
