.container-fluid
	.footer
		div(id="map").footerMap
		div.laLigneGrise(style='margin-top:0px')
			p Valeuriad &copy; 2017 Tous droits r&eacute;serv&eacute;s Mentions l&eacute;gales
		div.laLigneBleuBlancFooter

script(src='/toad/scripts/bootstrap.min.js')


script(src="/toad/scripts/map.js")
block footer
