div(id="headerBar").navbar.navbar-fixed-top(role='navigation')
	div.container-fluid
			div(id="barNavigation").barNavigation
				ul.nav.navbar-nav
					li
						img(id="logoNumericup").logoNumericupHeadcer(src="/toad/images/header/logo_numericup_top_medium.png")
					li.active
						a(href="#ancrePresentation") THE NUMERICUP
					li
						a(href="#kartingGameExplications") ENTRA&Icirc;NE-TOI
					li
						a(href="#ancrePartenaires") SPONSORS
					li
						a(href="#ancreReglement") REGLEMENT
					li
						a(href="#resultats") RESULTATS
						
div.row.laLigneGrise(id="headerGrayBarKarting")
		div.row.laLigneBleuBlanc(id="headerRedWhiteBarKarting")
		.col-sm-11.col-sm-offset-1
