div(id="headerBar").navbar.navbar-default.navbar-fixed-top(role='navigation').shadowNavBar
	div.container-fluid
			div.navbar-header
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href="#")
			div.collapse.navbar-collapse
				ul.nav.navbar-nav

				ul.nav.navbar-nav.navbar-center
					li
						img.logoNumericupHeadcer(src="/toad/images/header/theNumeriCupByValeuriad.png")
					li.active
						a(href="#") THE NUMERICUP
					li
						a(href="#about") REGLEMENT
					li
						a(href="#partenaires") SPONSORS
					li
						a(href="#resultats") RESULTATS
						
		div.row.laLigneGrise(id="headerGrayBarKarting")
		div.row.laLigneRougeBlanc(id="headerRedWhiteBarKarting")
		.col-sm-11.col-sm-offset-1

