div(id="headerBar").navbar.navbar-fixed-top(role='navigation').hidden-xs.hidden-sm
	div.container-fluid
			div(id="barNavigation").barNavigation
				ul.nav.navbar-nav
					li
						img(id="logoNumericup").logoNumericupHeadcer(src="/toad/images/header/logo_numericup_top_medium.png")
					li.active
						a(href="#ancrePresentation") THE NUMERICUP
					li
						a(href="#ancrePartenaires") LES ORGAS
					li
						a(href="#kartingGameExplications") CHRONOS
					li
						a(href="#ancreReglement") THE RULES
	div.row.laLigneGrise(id="headerGrayBarKarting")
		div.laLigneBleuBlanc(id="headerRedWhiteBarKarting").col-sm-11.col-sm-offset-1
img(src="/toad/images/header/kart_head.png", id="kartingImageHeaderAnimation").hidden-xs.hidden-sm
