extends layout

block content
	div.container-fluid
		include video
		h1 Projet TOAD
		p par la suicide SQUAD
		include presentation
		include encarts
		include reglement
		include entraineToi
		include partenaires
		include resultats
