extends layout

block content
	div.container-fluid
		include video
		h1 Projet TOAD
		p par la suicide SQUAD
		include presentation
		include encarts
		include reglement
		include entraineToi
		include partenaires
		include resultats
		
		|		<script>
		|			$(document).ready(function(){
		|				$('#my-table').dynatable({
		|					dataset:{
		|						perPageDefault: 3,
		|						perPageOptions: [3,4,6,8]
		|					},
		|					features:{
		|						search: false,
		|						perPageSelect: false
		|					},
		|					inputs:{
		|						paginationPrev: "<",
		|						paginationNext: ">",
		|						paginationGap: [1, 2, 3, 3, 2, 1]
		|					}
		|				});
		|			});
		|		</script>
