doctype html
html
	head
		block head
			block title
				title Numericup by Karting de Nantes
			block meta
				meta(name='description', content='')
				meta(name='keywords', content='')
			link(rel='stylesheet', href='/toad/css/bootstrap.min.css')
			link(rel='stylesheet', href='/toad/css/style.css')
			| <style>
			| body { padding-top: 60px; }
			| </style>
			script(src='//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
			script(src="https://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyCwCY7BjWT24RWGterM_jXMJT2hclgekIg")
			script(src="//cdn.jsdelivr.net/phaser/2.6.2/phaser.min.js")
			script(src="/toad/scripts/game/karting.js")
			script(src="/toad/scripts/game/game.js")
			script(src="/toad/scripts/game/utils.js")
			script(src="/toad/scripts/index.js")
			script(src="/toad/scripts/anchorUnderNavbar.js")
			script(src="/toad/scripts/jquery.youtubebackground.js")
			script(src="/toad/scripts/noframework.waypoints.js")
			script(src="/toad/scripts/jquery-ui.min.js")
			script(src="/toad/scripts/decompte.js")
			
	body
		include header

		block content

		include footer
