div(id="ancrePartenaires").partenaires
	.row
		h1.h1green LA NUMERICUP, 
			span.h1gray LES ORGANISATEURS_
	.row
		.col-sm-6
			img(src="/toad/images/partenaires/logoValeuriad.png")
		.col-sm-6
			h1.valeuriadColor Valeuriad
			p Valeuriad, Entreprise de Service Numérique Nantaise où l'expertise technique IT n'a d'égale que l'excellence des valeurs humaines. Nous offrons des solutions technologiques innovantes pour accompagner la transformation digitale de nos clients.
		.col-sm-6
			img(src="/toad/images/partenaires/logoKartingNantes.png")
		.col-sm-6
			h1.kartingDeNantesColor Karting De Nantes
			p Karting de Nantes, complexe Karting Electrique Indoor, c'est le lieu idéal pour s'amuser au volant ! Des karts puissants, sans bruit et sans odeur avec une sécurité optimisée. Piste avec pont, tunnel et Club House équipé d'un bar et d'espaces salons.