div(id="ancrePresentation")
	.row
		p.presentationTitre.text-uppercase The NUMERICUP, 
				span(style='color:black;') qu'est-ce que c'est ?	
		p.presentationSousTitre.text-uppercase Le championnat interentreprises des acteurs du num&eacute;rique de Nantes avec :	
	
	.row.premierePartiePresentation
		div.col-md-6.col-xs-12(id="blocPresentationQualif")
			.row
				img(src="/toad/images/presentation/icon_chrono.png").text-center
			.row
				.col-xs-4.text-right
					img(src="/toad/images/presentation/Etape1.png")
				.col-xs-8.text-left
					p.titreEtapeVert.text-uppercase Les qualifs !
					p.sousTitreEtape Faites le meilleur score et qualifiez 
					p.sousTitreEtape votre entreprise pour le jour J
					p S&eacute;lection des 36 entreprises avec les 2 meilleurs chronos
		div.col-md-6.col-xs-12(id="blocPresentationFinale")
			.row
				img(src="/toad/images/presentation/icon_podium.png").align-center
			.row
				.col-xs-4.text-right
					img(src="/toad/images/presentation/Etape2.png")
				.col-xs-8.text-left
					p.titreEtape.text-uppercase The finale !
					p.sousTitreEtape THE soir&eacute;e, le 27 Septembre 2017
					p.sousTitreEtape R&eacute;servez-la d&egrave;s &agrave; pr&eacute;sent !
					p Bonne humeur, adr&eacute;naline, food truck, fanfare, bi&egrave;res
	div(id="deuxiemePartiePresentation")
		div(id="premiereLignePresentation").row
			div(id="plPourquoi").col-md-4.col-xs-6
				img(src="/toad/images/presentation/picto_quoi.png")
				p.titrePresentationGris.text-uppercase Pourquoi ?
				p
					.line Rassembler toutes les acteurs du num&eacute;rique Nantais
					.line autour d'une activit&eacute; : le karting version 2.0
			div(id="plPourQui").col-md-4.col-xs-6
				img(src="/toad/images/presentation/picto_qui.png")
				p.titrePresentationGris.text-uppercase Pour qui ?
				p 
					.line Vous travaillez dans le num&eacute;rique ?
					.line SSII/ESN, DSI, Start-Up, &eacute;coles informatiques, web
					.line agency, &eacute;diteurs logiciels...
					b Cet &eacute;v&eacute;nement est fait pour vous !
			div(id="plOuEtQuand").col-md-4.col-xs-6
				img(src="/toad/images/presentation/picto_ou.png")
				p.titrePresentationGris OU et QUAND ?
				p 
					.line Karting de Nantes
					.line 27 Rue Bobby Sands
					.line 44100 St Herblain
					.line 
						b Qualifs : 
						| D'aujourd'hui jusqu'au 15 aout 2017
					.line 
						b The Finale : 
						| Soir&eacute;e du 27 septembre 2017
						
			div(id="deuxiemeLignePresentation")
				div(id="dlDollar").col-md-4.col-xs-6
					img(src="/toad/images/presentation/picto_combien.png")
					p.titrePresentationGris.text-uppercase Combien &ccedil;a coute ?
					p 
						.line Vous b&eacute;n&eacute;ficiez de la carte membre avec une
						.line r&eacute;duction de 2&euro; en plus !
						.line 
							b Qualifications :
						.line 1 session : 14&euro; ttc (au lieu de 17&euro;)
						.line 2 sessions : 28&euro; ttc (au lieu de 34&euro;)
						.line 3 sessions : 38&euro; ttc (au lieu de 51&euro;)
						.line  
							b Finale : 
							| 100&euro; par &eacute;quipe de deux
				div(id="dlCoupe").col-md-4.col-xs-6
					img(src="/toad/images/presentation/picto_gagne.png")
					p.titrePresentationGris.text-uppercase On gagne quoi ?
					p 
						.line
							b The Dream Team :
						.line Pilotage et frissons d'une valeur de 100&euro;
						.line
							b 2e position :
						.line 5 sessions gratuites au Karting de Nantes
						.line
							b 3e position :
						.line 3 sessions gratuites au Karting de Nantes
						.line
							b Prix du meilleur look :
						.line 1 session de karting pour les 3 meilleures entreprises
				div(id="dlInscription").col-md-4.col-xs-6
					img(src="/toad/images/presentation/picto_comment.png")
					p.titrePresentationGris.text-uppercase Comment s'inscrire ?
					p
						.line Rendez-vous au Karting de Nantes avec une preuve
						.line d'appartenance au secteur du num&eacute;rique.
						.line Tu te fais conna&icirc;tre comme participant au Staff et
						.line c'est tout !
						.line A toi de faire le meilleur chrono !
						.line
							b Vous &ecirc;tes nombreux ?
						.line Organisez un tournoi interne avec votre entreprise !