div(id="ancreReglement").reglement
	.row.text-center
		h1.h1green LA NUMERICUP,
			span.h1gray THE RULES_
		p.reglementIntro Le brief complet est l&agrave; !
		div.reglementDoc
			a(href="http://www.mfnco.com/e-library/books/Shut%20Up,%20Stop%20Whining,%20And%20Get%20A%20Life%20-%20A.pdf")
				img(id="boutonTelechargement", src="/toad/images/reglement/boutonTelechargement1.png")
		p.reglementQuestion Une question ?
		a(href='mailto:vroum@thenumericup.fr')
			img(id="reglementQuestionImg", src="/toad/images/reglement/boutonMail1.png")
		div.reglementCafe
			img(src="/toad/images/reglement/TasseCafe.png")
			p
				| Un 
				b caf&eacute;
				|  pour en discuter ?
