div(id="ancreReglement").reglement
	h1.h1white LA NUMERICUP, 
		span.h1gray LE REGLEMENT_
	br
	h3 Téléchargez et prenez connaissance du règlement.
	br
	br
	a(href="http://www.mfnco.com/e-library/books/Shut%20Up,%20Stop%20Whining,%20And%20Get%20A%20Life%20-%20A.pdf")
		img(src="/toad/images/reglement/telechargerReglement.jpg")