div.col-md-12(id="resultats", height='911')
	h1.h1green LA NUMERICUP,
		span.h1gray LES RÉSULTATS_
	div.col-md-2
	iframe#axiframe_0.axiframe.apex-iframe.col-md-8(align='center', width='100%', height='911', scrolling='no', data-reload='true', frameborder='no', src='https://www.apex-timing.com/gokarts/results.php?center=54&challenge=1')
	div.col-md-2
