div(id="background-video").background-video
	img(src="/toad/images/video/backgroundKart.png").placeholder-image
	
	div(id="textSurVideo").textSurVideo
		p 
			.line.text-uppercase
				h1(style='color:#7FC249;') The numericup,
			.line.text-uppercase
				h1(style='color:#00A8DD;') L'it nantais qui kartonne !
			.line
				h3(style='color:white;') En 2017, venez vous mesurer et d&eacute;fier
			.line
				h3(style='color:white;') les autres acteurs du num&eacute;rique &aacute; Nantes

	div(id="reseauSociaux").reseauSociaux
		div(id="valeuriad").valeuriad
			a(href='http://www.valeuriad.fr')
				img(src="/toad/images/video/logoValeuriad.png")
		div(id="kart").kart
			a(href='http://www.karting-de-nantes.fr/fr/')
				img(src="/toad/images/video/logoKart.png")
		div(id="facebook").facebook
			a(href='http://www.facebook.com')
				img(src="/toad/images/video/logoFacebook.png")
		div(id="twitter").twitter
			a(href='http://www.twitter.fr')
				img(src="/toad/images/video/logoTwitter.png")