.videoPlayer {
	/*position: absolute;
    z-index: -1;*/
}

.kartingGame {
	background-image: url(/toad/images/game/background.png);
	height: 929px;
}

.kartingGame #kartingGameCanvas {
	float: right;
}