.kartingGame {
	background-image: url(/toad/images/game/background.png);
	height: 929px;
}

.kgTitre {
  color: #7FC249;
}

.kgTexte {
  color: white;
  font-size: larger;
}


.navbar-default .navbar-nav > .active > a {
	text-decoration: underline;
    color: #7fc249;
}

.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
  font-size: 16px;
  font-weight: bold;
  font-color: #272425;
  font-style: bold;
}


.logoNumericupHeadcer {
	padding-top: 12px;
}

.partenaires img {
	display: block;
    margin: auto;
    width: 40%;
    padding: 10px;
}

.partner {
  padding-left: 10%;
  padding-right: 10%
}

.valeuriadColor {
	color: #7fc249;
}

.kartingDeNantesColor {
	color: #10ace0;
}

.laLigneGrise {
	border-top: 25px solid #777676;
	width: 100%;
	margin-top : 12px;
}

#headerGrayBarKarting{
	margin-left : 0px;
	z-index : 5;
	position : fixed;
	display: none;
	
}

.laLigneBleuBlanc {
    height: 8px;
    background-image: url(/toad/images/header/bandeBleuBlanche.png);
    background-repeat: repeat-x;

}

#barNavigation{
	margin-left : 15%;
}

#resultats {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#resultats .h1green {
  color: #7ec34a;
}

#resultats .h1gray {
  color: #231f20;
}

#ancrePartenaires {
  padding-bottom: 50px;
}


#ancrePartenaires .h1green {
  color: #7ec34a;
  text-align: center;
  padding-top: 40px;
}

#ancrePartenaires img {
  float: right;
  padding-top: 50px;
  padding-right: 30px;
}

#ancrePartenaires .h1gray {
  color: #231F20;
  text-align: center;
}


#ancrePartenaires .row {
  height: 180px;
}

#ancrePartenaires .row [class*='col-md-6']:not(:last-child):after {
  background: #e0e0e0;
  width: 1px;
  content: "";
  display:block;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  height: 100%;
}

#ancreReglement {
  background: #7FC249;
  background: -moz-linear-gradient(-45deg, #7FC249 44%, #0EA8DF 58%);
  background: -webkit-linear-gradient(-45deg, #7FC249 44%,#0EA8DF 58%);
  background: linear-gradient(135deg, #7FC249 44%,#0EA8DF 58%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7FC249', endColorstr='#0EA8DF',GradientType=1 );
  height: 280px;
  text-align: center;
  padding: 10px;
}

.h1white {
  padding-top: 25px;
  color: white;
}

#ancreReglement h1 .h1gray {
  color: #231F20;
}

#ancreReglement img {
  -webkit-box-shadow: 2px 2px 16px 4px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 16px 4px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 16px 4px rgba(0,0,0,0.75);
}

hr.vertical
{
   width: 0px;
   height: 100%; /* or height in PX */
} 

.reglement p {
  font-weight: bold;
  font-size: 18px;
}

.premierePartiePresentation {
  padding: 30px;
  text-align: center;
}

.premierePartiePresentation .row {
  padding-bottom: 30px;
}

/* Présentation */
.presentationTitre {
  color: #7FC249;
  text-align: center;
  font-size : 30px;
}

.presentationSousTitre {
  text-align: center;
  padding-bottom : 50px;
}

#presentationSimple{
	text-align: center;
}

#iconeEtape1{
	text-align: right;
	padding-top : 50px;
}

#iconeEtape2{
	text-align: right;
	padding-top : 50px;
}

#textEtape1{
	text-align: left;
	padding-top : 50px;
}

#textEtape2{
	text-align: left;
	padding-top : 50px;
}
	
#imageChrono{
	text-align: right;
}

#imagePodium{
	text-align: center;
}

.titreEtape {
	color : #00AAE0;
	font-weight: bold;
	font-size : 30px;
	margin-top : -7px;
}

.sousTitreEtape{
	font-weight: bold;
	margin-top : -12px;
}

#deuxiemePartiePresentation {
	background-color: #EFEFEF;
  padding-bottom: 20px;
  padding-right: 10%;
  padding-left:10%;
}

#plPourquoi, #plPourQui, #plOuEtQuand, #dlDollar, #dlCoupe, #dlInscription {
	text-align: center;
	margin-top : 70px;
}

.titrePresentationGris{
	font-weight: bold;
	margin-top : 20px;
}

.textPresnetationGris{
	margin-top : 20px;
}

.textSurVideo{  
	width : 100%;
	position: absolute;
    z-index: 4;
    text-align: center;
    padding-top : 12%;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}



.textSurVideo h1{
	line-height:45px;
	font-size: 50px;
}

.textSurVideo h3{
	line-height:12px;
	font-size: 28px;
}

/* Vidéo 360 */

.background-video {
  background-position: top center;
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
  overflow: hidden;
  right: 0;
  top: 0;
  min-height: 100vh;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.reseauSociaux{
  z-index: 100;
  text-align: right;
  position : fixed;
  padding-right: 20px;
  padding-top : 100px;
  right: 0px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.reseauSociaux img {
  width: 50px;
	margin-bottom : 5px;
  -webkit-box-shadow: 5px 5px 8px 0px rgba(50, 50, 50, 0.32);
  -moz-box-shadow:    5px 5px 8px 0px rgba(50, 50, 50, 0.32);
  box-shadow:         5px 5px 8px 0px rgba(50, 50, 50, 0.32)
  filter:progid:DXImageTransform.Microsoft.Shadow(color=black, Direction=134, Strength=2);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.loaded .ytplayer-container {
  display: block;
}

.loaded .placeholder-image {
  opacity: 0;
}

.ytplayer-container {
  bottom: 0;
  height: 100%;
  left: 0;
  min-width: 100%;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
}

.placeholder-image {
  height: 57%;
  left: 0;
  min-height: 50%;
  min-width: 100%;
  top: 0;
  position : absolute;
}

a:hover{
	background-color : transparent!important;
}

.ytplayer-shield {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.ytplayer-player {
  position: absolute;
}

.headerBar{
	background-color : transparent;
}

.barNavigation a{
	color : white;
}

.headerBarBlanc{
	background-color : white;
	opacity: 0.8;
}

.barNavigationNoir a{
	color : black;
}
